%h2 Recipes List
%h4 What's in your fridge?

= form_tag(recipes_path, method: :get) do
  = text_field_tag(:search, params[:search], placeholder: "Search")
  = submit_tag ("Submit")

- if @recipes.nil?
  %p Please search for ingredient
- elsif @recipes == 'error' 
  %p There is no recipe with that ingredient
- else
  - @recipes.each do |recipe|
    %h2= recipe["title"]
    = link_to 'Show', recipes_path(recipe)