%h1 Subscribe to become a premium member!
= form_with charges_path do
  - if flash[:alert].present?
    #error_explanation
      %p= flash[:alert]
    %label.amount
      %span
        Amount: $#{@order.price}
  %script.stripe-button{"data-amount" => "#{@order.price}", 
  "data-description" => "A month's subscription", 
  "data-key" => "#{Rails.configuration.stripe[:pk_test_pRvKYv8G4tQ1xJytOKZ2dTRO00e5ZdTW6J]}", 
  "data-locale" => "auto", 
  :src => "https://checkout.stripe.com/checkout.js"}